<div class="container-fluid dashboard">

    <div>
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <br>
        <div class="col-md-4">
            <div class="list-group">
                <ul> <!-- this ul is here only to push the list items to the right. with li, the hover thing doens't work! :( -->
                    <a class="list-group-item active" style="color:white;"> ... </a>
                    <!--<a data-toggle="modal" data-target=".bs-example-modal-sm" class="list-group-item">Track new cohort</a>-->
                    <a class="list-group-item" ng-click="openNewCohortForm()">Track New Cohort</a>
                    <a class="list-group-item" ng-click="openContinueTrackingModal()">Continue tracking </a>
                </ul>

            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="page-header">
                    <h1>{{cohortName}} <small>{{msg}}</small></h1>
                </div>
            </div>

            <div class="row">
                <div class="table-responsive">
                    <table class="table table-bordered videoTable">
                        <tr ng-repeat="videos in videoGrid">
                            <td ng-repeat="video in videos">
                                    <video-element name="{{video.name}}" group="{{video.group}}" noofcams="{{noOfCams}}" loginUser="getLoginUser()" cohortid="getCohortId()"></video-element>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="newCohortForm.html">
    <div class="modal-header">
        <a ng-click="cancelNewCohortForm()" href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3 class="modal-title">Cohort Details</h3>
    </div>
    <div class="modal-body">
        <div class="input-group">
            <span class="input-group-addon">Cohort Name</span>
            <input ng-model="data.cname" type="text" class="form-control" style="width:150px" required/>

            <span class="input-group-addon">Number of vials</span>
            <input ng-model="data.numvials" type="text" class="form-control" style="width:120px" required/>

        </div>
        <br>
        <div class="input-group">
            <span class="input-group-addon">Experiment</span>
            <input ng-model="data.exp" type="text" class="form-control" style="width:150px" required/>
        </div>

        <br>
        <br>
        <p>
            <a ng-click="addGroup()"  class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-plus"></span>&nbsp;Add Group</a>
        </p>
        <div ng-repeat="(i,grp) in data.groups track by $index" class="input-group expGroup">
            <span class="input-group-addon">Group {{$index+1}}</span>
            <input  ng-model="data.groups[i]"  type="text" class="form-control" style="width:117px" required>&nbsp;
            <span ng-click="removeGroup($index)" class="glyphicon glyphicon-remove" style="font-size:15px;"></span>
        </div>

        <alert ng-repeat="alert in newCohortAlerts" type="alert.type" close="closeNewCohortAlert($index)">{{alert.msg}}</alert>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="createNewCohort()">Create cohort</button>
        <button class="btn btn-warning" ng-click="cancelNewCohortForm()">Cancel</button>
    </div>
</script>

<script type="text/ng-template" id="continueTracking.html">
    <div class="modal-header">
        <a ng-click="cancelContinueTrackingModal()" href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
        <h3> Continue Tracking</h3>
    </div>
    <div class="modal-body">
        <div class="input-group retrieveCohortTypeahead">
            <label class="input-group-addon">Cohort Name</label>
            <input ng-class="{typeaheadLoading: loadingLocations}" style="float:left;" type="text" ng-model="selected"  typeahead="cohort.cohort_name for cohort in getCohorts($viewValue)" typeahead-editable="false" typeahead-loading="loadingLocations" class="form-control" typeahead-on-select="selectCohortFromList($item,$model,$label);">

        </div>
        <br/>
        <alert ng-repeat="alert in continueTrackingAlerts" type="alert.type" close="closeContinueTrackingAlert($index)">{{alert.msg}}</alert>

    </div>
    <div class="modal-footer">

        <button class="btn btn-primary" ng-click="openSelectedCohort()">Open cohort</button>
        <button class="btn btn-warning" ng-click="cancelContinueTrackingModal()">Cancel</button>
    </div>
</script>