<div ng-controller="LoginCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>Video Munger</h1>
            <p>Tower Lab</p>
            <br>
            <label class="loginField">Login Name</label>
            <input type="text" data-ng-model="login">
            <br><br>
            <label class="loginField">Password</label>
            <input type="password" data-ng-model="password">
            <br>
            <br>

            <p><a class="btn btn-primary btn-lg" role="button" ng-click="open()">Click to login</a></p>
        </div>
    </div>






</div>


