<div ng-controller="LoginCtrl">
    <div class="jumbotron">
        <div class="container">
            <h1>Fly Worker</h1>
            <p>Tower Lab</p>
            <br>
            <form>
            <label class="loginField">Login Name</label>
            <input type="text" data-ng-model="login">
            <br><br>
            <label class="loginField">Password</label>
            <input type="password" data-ng-model="password">
            <br>
            <br>
            <button ng-click="loggIn()" class="btn btn-primary btn-lg" >Click to login</button>
            </form>
        </div>
    </div>
</div>


