<div>
    <div>
        <span ng-repeat="vid in videoSetNames" class="videoName" ng-click="openVideoUploader(vid)" ng-class="{videoUploadingGif : vidstatus=='uploading'}">
            <span class="glyphicon glyphicon-facetime-video videoGlyphicon"  ng-class="{noVideo: vidstatus=='novideo', videoUploadError:vidstatus=='error', videoUploadSuccess:vidstatus=='success'}"></span> |
            <input style='display:none' id="{{vid}}" type="file" ng-file-select="onFileSelect($files, vid)" accept="video/avi"/>
        </span> {{videoName}}
    </div>
</div>