.loginField {
    width:125px;
}
.dashboard {
    top:50px;
    position:relative;
}
.videoTable {
    width:900px;
}
.expGroup {
    margin:10px;
}

.videoName {
    height: 33px;
    margin-left:8px;
    top:8px;
    position:  relative;
}
.videoGlyphicon {
    margin-left:9px;
    margin-top:8px;
    margin-right:3px;
}
.noVideo {
    color:black;
}
.videoUploadError {
    color:red;
}
.videoUploadSuccess {
    color:green;
}
.videoUploadingGif {
    background-image: url('/assets/images/ajax-loader.gif');
    background-repeat:no-repeat;
    background-size:33px 33px;

}
.videoDiv {
    cursor:pointer;
    height:35px;
    float:left;
    margin-left:3px;
    margin-right:3px;
}
